@charset "utf-8";

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table th,
table td {
    padding: 5px;
    border: 1px solid #949188;
}

table tr:first-child th {
    width: 10%;
}

table tr:first-child td:nth-child(2) {
    width: 5%;
}